@import "node_modules/normalize-scss/sass/normalize";
@include normalize();
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

.info {
  margin: 52px 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 62px;
}

@media screen and (max-width: 730px) {
  .container {
    padding: 32px;
  }
}
